name: Release Creation

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Publish Foundry Package
        uses: ghost-fvtt/foundry-publish@v1
        with:
          package-token: ${{ secrets.FOUNDRY_API_TOKEN }}
          manifest-url: https://github.com/${{ github.repository }}/releases/latest/download/module.json
          download-url: https://github.com/${{ github.repository }}/releases/download/${{ github.event.release.tag_name }}/module.zip
