name: Release Creation

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Alternative Action: ghost-network/foundry-publish
      - name: Publish to Foundry VTT
        uses: ghost-network/foundry-publish@v1
        with:
          version: ${{ github.event.release.tag_name }}
          manifest: https://github.com/${{ github.repository }}/releases/download/${{ github.event.release.tag_name }}/module.json
          token: ${{ secrets.FOUNDRY_API_TOKEN }}
